.layout{
  
}


.logout-btn{
  /* align-items:  right !important ; */
  margin-left: 1000px;

  border: 1px solid darkmagenta;
  
  }


.user{

text-align: right !important ;
margin-right: 40px; 
/* border: 1px solid teal; */


}

.register{
  border: 1px solid teal;
  display: flex;
  justify-items: right;
  position: relative;
}


