.post-container{
  border: 2px solid green;
  display: flex;
  flex-direction: row;

}

@media only screen and (max-width: 500px) {
  .post-container{
    display: flex;
  flex-direction: column;
  }
}