.post{
 border: 1px solid orange;
 background-color: rgb(220,220,220);

    border-radius: 1rem;
    margin: 3px;
    padding: 1rem;
    line-height: 1.25rem;
    width: 25%;
    
}

.post:hover {
  transform: scale(1.02);
  opacity: .9;
}